@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var richTextContent = (ContentModels.Richtext)Model.Content;
}
<div>
    @Html.Raw(richTextContent.Content)
</div>